In [2]:
pip install faker

Requirement already satisfied: faker in /Users/lingqi07/anaconda3/lib/python3.11/site-packages (26.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /Users/lingqi07/anaconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/lingqi07/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from faker import Faker
import random
fake = Faker()

/Users/lingqi07/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

client table

In [4]:
# Define real email domains
email_domains = ['gmail.com', 'yahoo.com', 'outlook.com', 'hotmail.com']

# Define cities, state, and zip codes for New York
ny_cities = ['New York', 'Buffalo', 'Rochester', 'Yonkers', 'Syracuse', 'Albany', 'New Rochelle', 'Mount Vernon', 'Schenectady', 'Utica']
ny_state = 'New York'
ny_zipcodes = ['10001', '14201', '14602', '10701', '13201', '12201', '10801', '10550', '12301', '13501']

# Function to format phone numbers
def format_phone_number():
    return f"{fake.random_number(digits=3, fix_len=True)}-{fake.random_number(digits=3, fix_len=True)}-{fake.random_number(digits=4, fix_len=True)}"

# Function to generate a realistic email based on first and last name
def generate_email(first_name, last_name):
    domain = random.choice(email_domains)
    return f"{first_name.lower()}.{last_name.lower()}@{domain}"

# Function to assign client types ensuring equal number of buyers and sellers, and landlords having one or more renters
def assign_client_types(num_clients):
    num_buyers_sellers = num_clients // 4
    client_types = ['buyer'] * num_buyers_sellers + ['seller'] * num_buyers_sellers
    
    remaining_clients = num_clients - 2 * num_buyers_sellers
    landlords = remaining_clients // 2
    renters = remaining_clients - landlords
    
    client_types += ['landlord'] * landlords + ['renter'] * renters
    random.shuffle(client_types)
    return client_types

# Generate the clients data
clients = []
num_clients = 3000

client_types = assign_client_types(num_clients)

for i in range(1, num_clients + 1):
    first_name = fake.first_name()
    last_name = fake.last_name()
    clients.append({
        'client_id': i,
        'first_name': first_name,
        'last_name': last_name,
        'gender': random.choice(['male', 'female']),
        'date_of_birth': fake.date_of_birth(minimum_age=18, maximum_age=90),
        'phone_number': format_phone_number(),
        'email': generate_email(first_name, last_name),
        'address': fake.street_address(),
        'city': random.choice(ny_cities),
        'state': ny_state,
        'postal_code': random.choice(ny_zipcodes),
        'date_of_registration': fake.date_this_decade(),
        'client_type': client_types[i - 1]
    })

In [5]:
# Create DataFrame
clients_df = pd.DataFrame(clients)

In [6]:
clients_df.head()

,client_id,first_name,last_name,gender,date_of_birth,phone_number,email,address,city,state,postal_code,date_of_registration,client_type
0,1,Barbara,Ellis,female,1985-09-08,117-907-9988,barbara.ellis@gmail.com,96576 Katherine Canyon Apt. 913,New York,New York,12201,2024-01-30,renter
1,2,Ryan,Richardson,male,1948-04-13,555-832-5374,ryan.richardson@outlook.com,179 Greene Roads Suite 477,Syracuse,New York,10801,2020-10-17,renter
2,3,Whitney,Daniels,female,1948-10-08,504-278-4621,whitney.daniels@gmail.com,34491 Tiffany Grove,New York,New York,12301,2024-03-24,buyer
3,4,Jessica,Day,female,2002-08-13,841-283-3398,jessica.day@hotmail.com,57612 Kaitlin Row Suite 780,Yonkers,New York,14602,2021-01-07,buyer
4,5,Wendy,Watkins,male,1956-04-14,931-556-6260,wendy.watkins@gmail.com,181 Aaron Plains Suite 902,Albany,New York,10001,2024-04-16,landlord

In [7]:
clients_df.to_csv('/Users/lingqi07/Documents/APAN 5310/Group Project/Checkpoint 4/clients.csv', index=False)

client feedbacks table

In [8]:
# Function to generate detailed comments
def generate_detailed_comment():
    comments = [
        "The house was in excellent condition and exceeded my expectations.",
        "I had a pleasant experience with the transaction. Everything went smoothly.",
        "The agent was very helpful and responsive. Highly recommended!",
        "The process was a bit slow, but overall, I am satisfied with the outcome.",
        "The house had some issues, but they were addressed promptly by the seller.",
        "I found the perfect home for my family. Couldn't be happier!",
        "The negotiation process was tough, but we managed to reach an agreement.",
        "The property listing was accurate and met all my requirements.",
        "I appreciate the transparency and professionalism throughout the transaction.",
        "There were some delays, but the final result was worth the wait."
    ]
    return random.choice(comments)

# Generate the client_feedbacks data
client_feedbacks = []
num_feedbacks = 2000

# Generate sequential feedback dates
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2024-07-31')
feedback_dates = pd.date_range(start=start_date, end=end_date, periods=num_feedbacks).strftime('%Y-%m-%d')

for i in range(1, num_feedbacks + 1):
    client_feedbacks.append({
        'feedback_id': i,
        'client_id': random.randint(1, 3000),
        'house_id': random.randint(1, 1000),
        'transaction_id': random.randint(1, 5000),
        'feedback_date': feedback_dates[i - 1],
        'rating': random.randint(1, 5),
        'comments': generate_detailed_comment()
    })

# Create DataFrame
client_feedbacks_df = pd.DataFrame(client_feedbacks)

In [9]:
client_feedbacks_df.head()

,feedback_id,client_id,house_id,transaction_id,feedback_date,rating,comments
0,1,60,669,1677,2023-01-01,3,I found the perfect home for my family. Couldn...
1,2,2329,228,4952,2023-01-01,1,The agent was very helpful and responsive. Hig...
2,3,2102,58,1520,2023-01-01,3,The house was in excellent condition and excee...
3,4,2232,564,1597,2023-01-01,2,"The process was a bit slow, but overall, I am ..."
4,5,1776,472,4874,2023-01-02,5,"The process was a bit slow, but overall, I am ..."

In [10]:
client_feedbacks_df.to_csv('/Users/lingqi07/Documents/APAN 5310/Group Project/Checkpoint 4/client_feedbacks.csv', index=False)

appointments table

In [11]:
# Function to generate realistic comments about employee service attitude and professionalism
def generate_service_comment():
    comments = [
        "The agent was very professional and courteous throughout the entire process.",
        "Excellent service provided by the agent. Very knowledgeable and helpful.",
        "The agent was patient and explained everything clearly. Great service!",
        "The service was satisfactory, but there is room for improvement in communication.",
        "The agent was very attentive and addressed all my concerns promptly.",
        "I am very pleased with the service. The agent went above and beyond to help.",
        "The agent's expertise in the market was evident and very reassuring.",
        "Good service overall, but there were some delays in responses.",
        "I appreciate the agent's professionalism and attention to detail.",
        "The agent provided excellent support and made the process smooth and easy."
    ]
    return random.choice(comments)

# Generate the appointments data
appointments = []
num_appointments = 30000

# Generate sequential appointment dates
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2024-07-31')
appointment_dates = pd.date_range(start=start_date, end=end_date, periods=num_appointments).strftime('%Y-%m-%d')

for i in range(1, num_appointments + 1):
    appointments.append({
        'appointment_id': i,
        'client_id': random.randint(1, 3000),
        'agent_id': random.randint(1, 50),
        'house_id': random.randint(1, 1000),
        'appointment_date': appointment_dates[i - 1],
        'appointment_time': fake.time(),
        'status': random.choice(['scheduled', 'completed', 'cancelled']),
        'comments': generate_service_comment()
    })

# Create DataFrame
appointments_df = pd.DataFrame(appointments)

In [12]:
appointments_df.head()

,appointment_id,client_id,agent_id,house_id,appointment_date,appointment_time,status,comments
0,1,661,3,694,2023-01-01,22:41:19,cancelled,I appreciate the agent's professionalism and a...
1,2,2984,23,888,2023-01-01,21:19:24,cancelled,The agent was patient and explained everything...
2,3,561,4,303,2023-01-01,14:50:58,cancelled,I appreciate the agent's professionalism and a...
3,4,2529,13,751,2023-01-01,23:16:44,scheduled,"Good service overall, but there were some dela..."
4,5,1654,10,29,2023-01-01,12:58:01,cancelled,"Good service overall, but there were some dela..."

In [13]:
appointments_df.to_csv('/Users/lingqi07/Documents/APAN 5310/Group Project/Checkpoint 4/appointments.csv', index=False)

marketing activities table

In [14]:
# Function to generate realistic activity names for a real estate company
def generate_activity_name():
    activities = [
        "Social Media Advertising", "Search Engine Marketing", "Email Marketing Campaign", 
        "Television Commercials", "Radio Advertisements", "Billboard Advertising", 
        "Open House Events", "Virtual Tours", "Print Advertising", "Content Marketing",
        "Influencer Partnerships", "Community Sponsorships", "Direct Mail Campaign", 
        "Real Estate Expo Participation", "Public Relations Campaign", "Client Referral Program", 
        "Webinar Series", "Local Event Sponsorship", "Online Video Ads", "Real Estate Seminars"
    ]
    return random.choice(activities)

# Function to generate detailed descriptions for marketing activities
def generate_description(activity_name):
    descriptions = {
        "Social Media Advertising": "Running targeted ads on social media platforms like Facebook, Instagram, and LinkedIn to increase brand awareness and attract potential clients.",
        "Search Engine Marketing": "Implementing paid search campaigns on Google and Bing to capture leads actively searching for real estate services.",
        "Email Marketing Campaign": "Sending out newsletters and promotional emails to a curated list of subscribers with updates on new listings, market trends, and company news.",
        "Television Commercials": "Broadcasting TV ads during prime time on major networks to reach a broad audience and promote our services.",
        "Radio Advertisements": "Airing radio ads on popular stations to drive local awareness and interest in our real estate services.",
        "Billboard Advertising": "Placing eye-catching billboards in high-traffic areas to capture the attention of commuters and passersby.",
        "Open House Events": "Hosting open houses to showcase properties to potential buyers and generate interest.",
        "Virtual Tours": "Creating immersive virtual tours of properties to provide remote buyers with an in-depth viewing experience.",
        "Print Advertising": "Running ads in local newspapers, magazines, and real estate publications to reach a traditional audience.",
        "Content Marketing": "Producing blog posts, videos, and other content to educate and engage potential clients about the real estate market.",
        "Influencer Partnerships": "Collaborating with local influencers to promote our services and listings on their social media channels.",
        "Community Sponsorships": "Sponsoring local events and charities to enhance community relations and brand visibility.",
        "Direct Mail Campaign": "Sending out postcards and brochures to targeted neighborhoods to generate leads and promote listings.",
        "Real Estate Expo Participation": "Attending and exhibiting at real estate expos to network with industry professionals and potential clients.",
        "Public Relations Campaign": "Conducting PR campaigns to secure media coverage and build our brand reputation.",
        "Client Referral Program": "Implementing a referral program to incentivize existing clients to refer new clients.",
        "Webinar Series": "Hosting online webinars to provide valuable insights and information to potential clients about the real estate market.",
        "Local Event Sponsorship": "Sponsoring local community events to increase brand awareness and build relationships with potential clients.",
        "Online Video Ads": "Creating and running video ads on platforms like YouTube to showcase our services and listings.",
        "Real Estate Seminars": "Organizing seminars to educate potential buyers and sellers about the real estate process and market trends."
    }
    return descriptions.get(activity_name, "Conducting various marketing activities to promote our real estate services and attract new clients.")

# Generate the marketing activities data
marketing_activities = []
num_activities = 50

# Generate sequential start dates within the specified date range
start_dates = pd.date_range(start='2023-01-01', end='2024-07-31', periods=num_activities).strftime('%Y-%m-%d')

for i in range(1, num_activities + 1):
    activity_name = generate_activity_name()
    start_date = start_dates[i - 1]
    # Generate a random end date after the start date
    end_date = fake.date_between_dates(date_start=pd.to_datetime(start_date), date_end=pd.to_datetime('2024-07-31')).strftime('%Y-%m-%d')
    marketing_activities.append({
        'activity_id': i,
        'activity_name': activity_name,
        'start_date': start_date,
        'end_date': end_date,
        'cost': round(random.uniform(1000, 100000), 2),
        'ROI': round(random.uniform(0.1, 5.0), 2),
        'description': generate_description(activity_name)
    })

# Create DataFrame
marketing_activities_df = pd.DataFrame(marketing_activities)

In [15]:
marketing_activities_df.head()

,activity_id,activity_name,start_date,end_date,cost,ROI,description
0,1,Television Commercials,2023-01-01,2023-09-08,66790.47,2.06,Broadcasting TV ads during prime time on major...
1,2,Billboard Advertising,2023-01-12,2023-06-16,81279.91,0.16,Placing eye-catching billboards in high-traffi...
2,3,Search Engine Marketing,2023-01-24,2024-04-21,12297.47,4.17,Implementing paid search campaigns on Google a...
3,4,Email Marketing Campaign,2023-02-05,2024-03-12,86111.36,4.26,Sending out newsletters and promotional emails...
4,5,Billboard Advertising,2023-02-17,2024-02-29,60155.06,4.60,Placing eye-catching billboards in high-traffi...

In [16]:
marketing_activities_df.to_csv('/Users/lingqi07/Documents/APAN 5310/Group Project/Checkpoint 4/marketing_activities.csv', index=False)

market trends table

In [17]:
# Define price trends and time frames
price_trends = ['higher', 'lower', 'same']
time_frames = [
    'last month', 'last quarter', 'last year', 
    '2 months ago', '3 months ago', '6 months ago', 'a year ago'
]

# Generate the market trends data
market_trends = []
num_trends = 5000

# Generate sequential date_recorded within the specified date range
start_date = pd.to_datetime('2023-03-01')
end_date = pd.to_datetime('2024-07-31')
date_recorded = pd.date_range(start=start_date, end=end_date, periods=num_trends).strftime('%Y-%m-%d')

for i in range(1, num_trends + 1):
    house_id = random.randint(1, 1000)
    price = round(random.uniform(100000, 1000000), 2)
    trend = random.choice(price_trends)
    time_frame = random.choice(time_frames)
    
    if trend == 'higher':
        change_value = round(random.uniform(5000, 50000), 2)
        change_percent = round((change_value / (price - change_value)) * 100, 2)
        description = f"{trend} than {time_frame} by ${change_value} ({change_percent}%)"
    elif trend == 'lower':
        change_value = round(random.uniform(5000, 50000), 2)
        change_percent = round((change_value / (price + change_value)) * 100, 2)
        description = f"{trend} than {time_frame} by ${change_value} ({change_percent}%)"
    else:
        description = f"same than {time_frame}"
    
    market_trends.append({
        'trend_id': i,
        'house_id': house_id,
        'date_recorded': date_recorded[i - 1],
        'price': price,
        'trend_description': description
    })

# Create DataFrame
market_trends_df = pd.DataFrame(market_trends)

In [18]:
market_trends_df.head()

,trend_id,house_id,date_recorded,price,trend_description
0,1,566,2023-03-01,190771.56,higher than 3 months ago by $41501.18 (27.8%)
1,2,23,2023-03-01,893153.23,lower than 3 months ago by $15729.68 (1.73%)
2,3,194,2023-03-01,526560.76,lower than last quarter by $46556.77 (8.12%)
3,4,702,2023-03-01,961117.40,lower than last quarter by $31882.86 (3.21%)
4,5,161,2023-03-01,215961.92,same than 2 months ago

In [19]:
market_trends_df.to_csv('/Users/lingqi07/Documents/APAN 5310/Group Project/Checkpoint 4/market_trends.csv', index=False)