In [2]:
import pandas as pd
import numpy as np
from faker import Faker
import random

fake = Faker()

In [3]:
num_offices = 3
num_departments = 5
num_employees = 50
num_salaries = num_employees
num_transactions = 5000
num_houses = 1000
num_clients = 3000
num_profits = 5000
num_sales = 5000
num_expenses = 30

### offices table

In [5]:
ny_addresses = ["53 Manhattan St, New York, NY 10001", "456 Brooklyn Ave, New York, NY 11201", "5 Queens Blvd, New York, NY 11375"]
nj_addresses = ["81 Newark St, Newark, NJ 07102", "654 Jersey City Rd, Jersey City, NJ 07302", "98 Hoboken Ave, Hoboken, NJ 07030"]
ct_addresses = ["62 Hartford Rd, Hartford, CT 06103", "753 New Haven St, New Haven, CT 06510", "95 Stamford Blvd, Stamford, CT 06901"]

addresses = ny_addresses[:1] + nj_addresses[:1] + ct_addresses[:1]

offices = pd.DataFrame({
    'office_id': range(1, num_offices + 1),
    'address': addresses,
    'contact_info': [fake.phone_number() for _ in range(num_offices)],
    'region': ["NY", "NJ", "CT"]
})

### departments table

In [6]:
departments = pd.DataFrame({
    'department_id': range(1, num_departments + 1),
    'department_name': [fake.bs() for _ in range(num_departments)],
    'location': [fake.city() for _ in range(num_departments)],
    'manager_id': np.random.randint(1, num_employees + 1, num_departments)
})

In [7]:
departments = pd.DataFrame({
    'department_id': range(1, num_departments + 1),
    'department_name': [
        "Human Resources Department", "Property Management Department", 
        "Marketing Department", "Customer Service Department", 
        "Finance and Accounting Department"
    ],
    'location': [fake.city() for _ in range(num_departments)],
    'manager_id': np.random.randint(1, num_employees + 1, num_departments)
})

### employees table

In [8]:
real_estate_positions = [
    "Real Estate Agent", "Property Manager", "Leasing Consultant",
    "Property Appraiser", "Real Estate Assistant",
    "Real Estate Analyst", "Real Estate Developer", "Home Inspector"
]

In [15]:
first_names = [fake.first_name() for _ in range(num_employees)]
last_names = [fake.last_name() for _ in range(num_employees)]

employees = pd.DataFrame({
    'employee_id': range(1, num_employees + 1),
    'first_name': first_names,
    'last_name': last_names,
    'gender': [fake.random_element(elements=('Male', 'Female')) for _ in range(num_employees)],
    'date_of_birth': [fake.date_of_birth(minimum_age=18, maximum_age=65) for _ in range(num_employees)],
    'email': [f"{fn.lower()}.{ln.lower()}@gmail.com" for fn, ln in zip(first_names, last_names)],
    'date_of_employment': [fake.date_this_decade() for _ in range(num_employees)],
    'position': [fake.random_element(elements=real_estate_positions) for _ in range(num_employees)],
    'department_id': np.random.randint(1, num_departments + 1, num_employees),
    'employment_status': [fake.random_element(elements=('Active', 'Inactive', 'On Leave')) for _ in range(num_employees)],
    'office_id': np.random.randint(1, num_offices + 1, num_employees),
    'employment_type': [fake.random_element(elements=('Full-time', 'Part-time', 'Contract')) for _ in range(num_employees)]
})

### salaries table

In [4]:
salaries = pd.DataFrame({
    'salary_id': range(1, num_employees + 1),
    'employee_id': range(1, num_employees + 1),
    'annual_salary': [round(np.random.uniform(70000, 150000), 2) for _ in range(num_employees)],
    'annual_bonus': [round(np.random.uniform(5000, 20000), 2) for _ in range(num_employees)]
})

### expanses table

In [19]:
expense_descriptions = [
    "Development Expense", "Marketing Expense", "Other Expense",
    "Infrastructure Expense", "Operating Expense"
]

In [20]:
expenses = pd.DataFrame({
    'expense_id': range(1, num_expenses + 1),
    'description': [fake.random_element(elements=expense_descriptions) for _ in range(num_expenses)],
    'amount': [round(fake.random_number(digits=5), 2) for _ in range(num_expenses)],
    'expense_date': [fake.date_this_year() for _ in range(num_expenses)],
    'transaction_id': np.random.randint(1, num_transactions + 1, num_expenses)
})

### profits table

In [21]:
profits = pd.DataFrame({
    'profit_id': range(1, num_profits + 1),
    'transaction_id': np.random.randint(1, num_transactions + 1, num_profits),
    'net_profit': [round(fake.random_number(digits=5), 2) for _ in range(num_profits)],
    'profit_date': [fake.date_this_year() for _ in range(num_profits)]
})

### sales table

In [22]:
sales = pd.DataFrame({
    'sale_id': range(1, num_sales + 1),
    'transaction_id': np.random.randint(1, num_transactions + 1, num_sales),
    'listing_price': [round(fake.random_number(digits=5) * 1.3, 2) for _ in range(num_sales)],
    'sale_price': [round(fake.random_number(digits=5), 2) for _ in range(num_sales)],
    'sale_date': [fake.date_this_year() for _ in range(num_sales)]
})

In [23]:
sales['listing_price'] = np.maximum(sales['listing_price'], sales['sale_price'] * 1.3)

### transactions table

In [24]:
transactions = pd.DataFrame({
    'transaction_id': range(1, num_transactions + 1),
    'employee_id': np.random.randint(1, num_employees + 1, num_transactions),
    'transaction_type': [fake.random_element(elements=('Sale', 'Lease')) for _ in range(num_transactions)],
    'transaction_date': [fake.date_this_year() for _ in range(num_transactions)],
    'amount': sales['sale_price'].values,
    'house_id': np.random.randint(1, 1001, num_transactions),
    'client_id': np.random.randint(1, num_clients + 1, num_transactions)
})

In [25]:
profits['net_profit'] = np.minimum(profits['net_profit'], transactions['amount'] - 1)

In [5]:
# Save to CSV files
offices.to_csv('/Users/yeqianchi/Desktop/5310/offices.csv', index=False)
departments.to_csv('/Users/yeqianchi/Desktop/5310/departments.csv', index=False)
employees.to_csv('/Users/yeqianchi/Desktop/5310/employees.csv', index=False)
salaries.to_csv('/Users/yeqianchi/Desktop/5310/salaries.csv', index=False)
expenses.to_csv('/Users/yeqianchi/Desktop/5310/expenses.csv', index=False)
profits.to_csv('/Users/yeqianchi/Desktop/5310/profits.csv', index=False)
sales.to_csv('/Users/yeqianchi/Desktop/5310/sales.csv', index=False)
transactions.to_csv('/Users/yeqianchi/Desktop/5310/transactions.csv', index=False)

NameError: name 'offices' is not defined

In [6]:
salaries.to_csv('/Users/yeqianchi/Desktop/5310/salaries.csv', index=False)